html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@font-face {
  font-family: 'iconfont';
  src: url('/font_3780044_o9n33pp7rxo.woff2?t=1668784407716') format('woff2'),
    url('/font_3780044_o9n33pp7rxo.woff?t=1668784407716') format('woff'),
    url('/font_3780044_o9n33pp7rxo.ttf?t=1668784407716') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}